/* #Container {
    position: absolute;
} */

#background_img {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: relative;
    position: fixed;
    top: -18px;
    background-color: black;
    object-fit: cover;
}

#content {
    background-color: white;
    padding: 10px;
    display: flex;
    margin-top: 65vh;


    #img_wrapper {
        position: sticky;
        top: 162px;
        height: 356px;

        #poster {
            width: 300px;
            border-radius: 10px;
            position: relative;
            top: -95px;
            margin: 5px;
            margin-left: -5px;
        }
    }

    #details {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 1;
        background-color: white;
        border-radius: 7px;

        #title {
            font-size: x-large;
            font-weight: 700;
            margin: 5px;
        }

        #genersTag {
            margin: 3px;
        }

        .movieSmallDetails {
            color: gray;
        }

    }
}

.tabs {
    padding: 20px;
}

#pills-tab1,
#pills-tab {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:600px) {
    #content {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }


    #img_wrapper {
        z-index: 1;
        position: initial !important;
        height: auto !important;
    }

    #poster {
        position: initial !important;
    }

    #details {
        margin-top: 20px;
    }
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}