#imageCardOverlay {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
}

#ImageContainer {
    margin: 5px;
    width: 220px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    background-color: #eceaea;
    border-radius: 7px;
    height: 410px;
    overflow: hidden
}

#cardDetails {
    text-align: center;
    margin: 5px;
}