@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

.bg-body-tertiary {
    position: sticky;
    top: 0px;
}

#movieContainer,
#TvContainer,
.horizontalScrollComponent {
    margin: 20px;
    display: flex;
    overflow: scroll hidden;
}

.Wrapper {
    margin: 50px 10px;
    padding: 5px;
    height: "600px";
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

p {
    margin: 0px;
}